<div class="row">
  <div class="col-md-4 col-md-offset-4 text-center">
    <div class="search-box">
      <div class="caption">
        <h2>Log in</h2>
      </div>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="input-group">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: "form-control" %>
          <%= f.password_field :password, autocomplete: "current-password", class: "form-control", placeholder: "Password" %>
          <%= f.submit "Log in", class: "form-control" %>
        </div>
      <% end %>
      <%= render "users/shared/links" %>
    </div>
  </div>
</div>
